body {
  font-family: Arial;
  background: #f0f0f0;
  text-align: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.password {
  font-size: 20px;
  font-family: monospace;
  margin: 15px;
}
